/* IMAGE CAROUSEL */

.carouselWrapper {
        overflow: hidden;
        width: 100%;
        max-height: 110vh;
        overflow: hidden;
        position: relative;
        clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

.carousel {
        width: 300%;
        transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        overflow: hidden;
        max-height: 110vh;
}

.slide {
        float: left;
        width: 100vw
}

.slide img {
        width: 100%;
}

.slideDown {
        animation: slideDown 0.5s ease-out;
}

.static-img {
        width: 100%;
}

/* HOMEPAGE */

#icons {
        padding-bottom: 30px;
}

#icons p {
        margin-top: 20px;
        text-align: justify;
}

#icons i {
        width: 100%;
        text-align: center;
        font-size: 100px;
}

.gradient {
        background: #4776E6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #8E54E9, #4776E6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #8E54E9, #4776E6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#age-restriction {
        width: 100%;
        text-align: center;
        top: -10px;
}

#age-restriction i {
        color: #DC281E;
        opacity: 0.6;
}

#age-restriction strong {
        font-size: 48px;
        margin-top: 1px;
        padding-right: 5px;
}

#parallax-pattern {
        margin-top: 20px;
        height: 700px;
        width: 100%;
        background-image: url("../source/lineup2.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#parallax-pattern h1 {
        display: inline-block;
        transform: translateY(-45%);
        color: #ec519e;
        background: #ef32d9;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89fffd, #ef32d9);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
}

#info-panels img[src*="campsite.jpg"] {
        border-top-left-radius: 20%;
}

#info-panels img[src$="drinksfood.jpg"] {
        border-bottom-right-radius: 20%;
}

#info-panels {
        margin: 20px 0;
}

#info-panels div[class="row"] {
        padding-bottom: 20px;
}

.img-panel {
        width: 100%;
}

.text-panel:first-of-type {
        text-align: right;
}

.text-panel {
        padding-top: 5em;
}

@media screen and (max-width:768px) {
        #parallax-pattern {
                height: 400px;
        }
}