* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* WINDOWS SLIDESHOW FIXES */
  overflow: auto;
  overflow: overlay;
}

/* NAV BAR */

#navigation {
  z-index: 2;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  position: absolute;
  border-radius: 0 0 10px 10px;
}

nav {
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}

.nav-logo {
  padding: 5px 20px;
}

.nav-logo img {
  max-width: 60px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 15%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0;
  padding-top: 20px;
}

.nav-links li {
  margin: 10px 15px;
}

.main-button {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	max-width: 180px;
	text-decoration: none;
	border-radius: 40px;
	padding: 6px 15px;
}

.button {
  color: #FFF;
	box-shadow: rgb(236, 81, 158) 0 0px 0px 40px inset;
}

.button:hover {
  background: none;
  color: #FFF;
	box-shadow: rgb(255, 255, 255) 0 0px 0px 2px inset;
}

.nav-links li img {
  width: 200px;
  height: auto;
  transform: translateY(-5%);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #FFF;
  margin: 5px;
}

/* MAIN CONTENT*/
#content {
  position: relative;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (max-width:720px) {
  .text-panel p, h1 {
    text-align: center;
  }
  #info-panels div.row {
    display: flex;
    flex-flow: column;
  }
  #info-panels>div>div:nth-child(2)>div.col-7.text-panel {
    order: 2;
  }
  #info-panels>div>div:nth-child(2)>div.col-5 {
    order: 1;
  }
  #info-panels img[src*=".jpg"] {
    border-radius: 50%;
  }
}

@media screen and (max-width:100vw) {
  .nav-logo {
    display: none;
  }
}

@media screen and (max-width:1200px) {
  .text-panel {
    padding-top: 30px;
  }
  .carousel {
    clip-path: polygon( 0 0, 100% 0, 100% calc(95% - 5vw), 0 100%);
    padding-bottom: 0;
  }
}

@media screen and (max-width:920px) {
  .text-panel {
    padding-top: 0;
  }
  .text-panel p {
    font-size: 18px;
  }
  .text-panel h1 {
    font-size: 32px;
  }
  .nav-links li img {
    width: 100px;
  }
}

@media screen and (max-width:768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 50px;
    background: #222;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: space-around;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0);
  }
  .nav-logo {
    display: block;
  }
  #navigation>nav>ul>li:nth-child(2) {
    display: none;
  }
  .nav-links a {
    font-size: 1rem;
  }
  #navigation {
    background: #222;
    position: fixed;
  }
}

/* ANIMATIONS */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}