body {
    background: url("../source/pattern5.png");
    height: 3000px;
}

#navigation {
    background: #222;
    position: fixed;
}

.nav-logo {
    display: block;
}

#navigation>nav>ul>li:nth-child(2) {
    display: none;
}

.nav-links {
    padding: 0;
}

.nav-links {
    justify-content: flex-end;
}

#profile-info {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-info img {
    width: 200px;
    height: auto;
}

.slide {
    background: #480048;
    border-radius: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.slide h3 {
    cursor: pointer;
    color: #FFF;
    padding: 10px 5px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.slide-info {
    background: #FFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 50px;
}

.slide:hover {
    -webkit-box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px -1px rgba(192, 72, 72, 1);
}

@media screen and (max-width:768px) {
    .nav-links {
        justify-content: space-around;
    }
}