* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAV BAR */
#navigation {
    z-index: 2;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    position: absolute;
}

nav {
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.nav-logo {
  padding: 5px 20px;
}

.nav-logo img{
  max-width: 60px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 15%;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0;
    padding-top: 20px;
}
.nav-links li {
  margin: 0 25px;
}
.nav-links li a {
    color: #FFF;
    text-decoration: none;
    padding: 6px 10px;
    font-size: 1.5rem;
}
.nav-links li img {
  width: 200px;
  height: auto;
  transform: translateY(-5%);
}
  
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 5px;
}
/* MAIN CONTENT*/
#content {
  position: relative;
}
/* IMAGE CAROUSEL */
.carousel {
  width: 100%;
  max-height: 110vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5vw),
    0 100%
  );
}

.label {
  position: absolute;
  z-index: 1;
  top: 100px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.label h3{
  color: #FAFAFA;
}
.label p{
  color: #FAFAFA;
  line-height: 20px;
}

.slide {
  animation: slideSide 0.5s ease-in;
}

.slideDown {
  animation: slideDown 0.5s ease-out;
}

.slide img{
  width: 100%;
}
.static-img{
  width: 100%;
}
/* HOMEPAGE */
#icons {
  padding-bottom: 30px;
}
#icons p {
  margin-top: 20px;
  text-align: justify;
}
#icons i {
  width: 100%;
  text-align: center;
  font-size: 100px;
}
.gradient {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#age-restriction {
  width: 100%;
  text-align: center;
  top: -10px;
}
#age-restriction i{
  color: #DC281E;
  opacity: 0.6;
}

#age-restriction strong{
  font-size: 48px;
  margin-top: 1px;
  padding-right: 5px;
}
#parallax-pattern {
  height: 500px;
  width: 100%;
  background-image: url("../source/pattern.jpg");
  background-attachment: fixed;
  background-position: center;
}
#info-panels img[src*="campsite.jpg"] {
  border-top-left-radius: 20%;
}
#info-panels img[src$="drinksfood.jpg"] {
  border-bottom-right-radius: 20%;
}
#parallax-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,0,0,0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 1));
}
#info-panels {
  margin: 20px 0;
}
#info-panels div[class="row"] {
  padding-bottom: 20px;
}
.img-panel{
  width: 100%;
}
.text-panel:first-of-type {
  text-align: right;
}
.text-panel {
  padding-top: 5em;
}
/* MEDIA QUERIES */
@media screen and (max-width:720px){
  .text-panel p, h1{
    text-align: center;
  }
  #info-panels div.row {
    display: flex;
    flex-flow: column;
  }
  #info-panels > div > div:nth-child(2) > div.col-7.text-panel {
    order: 2;
  }
  #info-panels > div > div:nth-child(2) > div.col-5 {
    order: 1;
  }
  #info-panels img[src*=".jpg"] {
    border-radius: 50%;
  }
}
@media screen and (max-width:100vw){
  .nav-logo {
    display: none;
  }
}
@media screen and (max-width:1200px){
  .text-panel {
    padding-top: 30px;
  }
  .carousel {
    clip-path: polygon(
    0 0,
    100% 0,
    100% calc(95% - 5vw),
    0 100%
  );
    padding-bottom: 0;
  }
}
@media screen and (max-width:920px){
  .text-panel {
    padding-top: 0;
  }
  .text-panel p {
    font-size: 18px;
  }
  .text-panel h1 {
    font-size: 32px;
  }
  .nav-links li a {
    font-size: 1.25rem;
  }
  .nav-links li img {
    width: 100px;
  }
}
@media screen and (max-width:768px){
    .nav-links {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 50px;
        background: #222;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0);
    }
    .nav-logo {
      display: block;
    }
    #navigation > nav > ul > li:nth-child(2) {
      display: none;
    }
    .nav-links a {
      font-size: 1rem;
    }
    #navigation {
      background: #222;
      position: fixed;
      border-radius: 0 0 10px 10px;
    }
}
/* ANIMATIONS */
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideIn{
    0%{
      transform: translate(100vw, 0);
    }
    100%{
      transform: translate(0, 0);
    }
}
@keyframes slideSide {
  0% { opacity:0;  transform: translateX(100%); }  
  100% { opacity: 1; transform: translateX(0); }
}
@keyframes slideDown {
  0% { opacity:0;  transform: translateY(-100%); }  
  100% { opacity: 1; transform: translateX(0); }
}